@charset "utf-8";
/* CSS Document */
.center
{
	text-align: center;
}
#about1
{
	width: 100%;
	height: 500px;
	background:url("../logo/back3.png");
}
#about1:hover
{
	background: url("../logo/back4.png")
}